body {
  margin: 0;
  padding: 20px;
  font-family: "instrument-sans-variable", sans-serif;
}

h2{
    font-size: 80px;
}

.grid-layout {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2px;
  padding: 0;
  align-items:flex-start;                   
}

.image-box {
  grid-column: span 2;
  margin-left: 80px;
}

.image-box img {
  width: 100%;
  height: auto;
  max-width: 1000px;
  max-height: 600px;
  object-fit: cover;
  margin-left: 0px;
  margin-top: 25px;
}

.back-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  z-index: 1000;
}


.title-box {
  
  display:grid;
  margin-right: 80px;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: 10px;
}

.title-box h1 {
  margin: 0 0 0;
  font-size: 28px;
}

.title-box p {
  font-size: 16px;
  margin-top: 0;
  color: #444;
  text-align: start;
}

.smallimage {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 0px;
  padding: 0;
  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
}

.smallimage > div {
  position: relative;  
}

.smallimage img {
  width: 80%;           
  height: 300px;         
  object-fit: cover;
  display: block;
}

.overlay-btn {
  position:absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 200px;          
  height: 200px;
  background: #bbbbbbcc;    
  color: white;
  border: none;
  border-radius: 50%;   
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 600;
  transition: background 0.3s ease;
  text-decoration: none;
}

.overlay-btn:hover {
  background: rgba(180, 180, 180, 0.7);     
}

.back-btn {
  background: none;
  border: none;
  font-size: 14px;
  padding: 0;
  color: #333;   
  text-decoration: underline;     
}

body.legacy{
    font-family: "instrument-sans-variable", sans-serif;
     background-image: 
    linear-gradient(#ccc 1px, transparent 1px),
    linear-gradient(90deg, #ccc 1px, transparent 1px);
  background-size: 400px 400px;
    
}


.legacy-container {
  display: grid;
  grid-template-columns: 2fr 1fr;  
  gap: 10px;                      
  padding: 40px;                    
  max-width: 1600px;
  margin-top: 0;
  margin-left: 100px;
}

.text-column {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;        
  align-items: flex-start;      
  text-align: left;
}

.text-column h1 {
  margin-bottom: 20px;
  font-size: 50px;
}

.text-column p {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
  text-align: left;
  margin-right: 300px;
}

.text-column h2 {
  font-size: 25px;
  margin-right: 300px;
  font-style: italic;
}

.image-column {
  display: grid;
  grid-template-rows: repeat(3, 1fr);  
  gap: 30px;
  margin-right: 100px;
}

.image-column img {
  width: 80%;
  height: 30%;
  object-fit: cover;
}

body.design{
    font-family: "instrument-sans-variable", sans-serif;
     background-image: 
    linear-gradient(#ccc 1px, transparent 1px),
    linear-gradient(90deg, #ccc 1px, transparent 1px);
  background-size: 400px 400px;
    
}


.design-container {
  display: grid;
  grid-template-columns: 2fr 1fr;  
  gap: 10px;                      
  padding: 40px;                    
  max-width: 1600px;
  margin-top: 0;
  margin-left: 100px;
}

.text-column-des {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;        
  align-items: flex-start;      
  text-align: left;
}

.text-column-des h1 {
  margin-bottom: 20px;
  font-size: 50px;
}

.text-column-des p {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
  text-align: left;
  margin-right: 300px;
}

.text-column-des h2 {
  font-size: 25px;
  margin-right: 300px;
  font-style: italic;
}

.image-column {
  display: grid;
  grid-template-rows: repeat(3, 1fr);  
  gap: 30px;
  margin-right: 100px;
}

.image-column img {
  width: 80%;
  height: 30%;
  object-fit: cover;
}

body.design{
    font-family: "instrument-sans-variable", sans-serif;
     background-image: 
    linear-gradient(#ccc 1px, transparent 1px),
    linear-gradient(90deg, #ccc 1px, transparent 1px);
  background-size: 400px 400px;
    
}

@media (max-width: 1000px) {
  .design-container {
    grid-template-columns: 1fr;
    padding: 30px;
  }

  .image-column {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }
}

@media (max-width: 650px) {
  .design-container {
    padding: 20px;
    gap: 20px;
  }

  .text-column-des h1 {
    font-size: 36px;
  }

  .image-column {
    grid-template-columns: 1fr;
  }

  .image-column img {
    width: 100%;
  }
}

.history-container {
  display: grid;
  grid-template-columns: 2fr 1fr;  
  gap: 10px;                      
  padding: 40px;                    
  max-width: 1600px;
  margin-top: 0;
  margin-left: 100px;
}

.text-column-his {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;        
  align-items: flex-start;      
  text-align: left;
}

.text-column-his h1 {
  margin-bottom: 20px;
  font-size: 50px;
}

.text-column-his p {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
  text-align: left;
  margin-right: 300px;
}

.text-column-his h2 {
  font-size: 25px;
  margin-right: 300px;
  font-style: italic;
}


body.history {
    font-family: "instrument-sans-variable", sans-serif;
    background-image: 
    linear-gradient(#ccc 1px, transparent 1px),
    linear-gradient(90deg, #ccc 1px, transparent 1px);
  background-size: 400px 400px;
    
}
.timeline {
  margin-top: 60px;
  border-left: 2px solid #666;
  padding-left: 30px;
  max-width: 750px;
}

.timeline-item {
  margin-bottom: 60px;
  position: relative;
  padding-left: 20px;
}

.timeline-item::before {
  position: absolute;
  left: -31px;
  top: 3px;
  width: 14px;
  height: 14px;
  background: #666;
  border-radius: 50%;
}

.timeline-item h3 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #222;
}

.timeline-item p {
  font-size: 18px;
  line-height: 1.65;
  color: #444;
  margin-bottom: 0;
}

.timeline-item img {
  grid-column: 2;   
  margin-top: 20px;   
  width: 500px;
  height: 420px;
}


@media (max-width: 1000px) {
.history-container {
                      
  padding: 40px;                    
  max-width: 1600px;
  margin-top: 0;
  margin-left: 100px;
  margin-right: 100px;
}

.text-column-his {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;        
  align-items: flex-start;      
  text-align: left;
  margin-right: 100px;
}

  .timeline {
    padding-left: 20px;
    border-left-width: 1.5px;
  }

  .timeline-item {
    margin-bottom: 40px;
  }

  .timeline-item::before {
    width: 12px;
    height: 12px;
    left: -26px;
  }

  .timeline-item h3 {
    font-size: 20px;
    margin-right: 100px;
  }

  .timeline-item p {
    font-size: 16px;
    margin-right: 100px;
  }
  .timeline-item img {
  grid-column: 1;   
  margin-top: 20px;   
  width: 300px;
  height: 220px;
}
}

.failure-container {
  display: grid;
  grid-template-columns: 2fr 1fr;  
  gap: 10px;                      
  padding: 40px;                    
  max-width: 1600px;
  margin-top: 0;
  margin-left: 100px;
}

.text-column-f {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;        
  align-items: flex-start;      
  text-align: left;
}

.text-column-f h1 {
  margin-bottom: 20px;
  font-size: 50px;
}

.text-column-f p {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
  text-align: left;
  margin-right: 300px;
}

.text-column-f h2 {
  font-size: 25px;
  margin-right: 300px;
  font-style: italic;
}

.image-column {
  display: grid;
  grid-template-rows: repeat(3, 1fr);  
  gap: 30px;
  margin-right: 100px;
}

.image-column img {
  width: 80%;
  height: 30%;
  object-fit: cover;
}

body.failure{
    font-family: "instrument-sans-variable", sans-serif;
     background-image: 
    linear-gradient(#ccc 1px, transparent 1px),
    linear-gradient(90deg, #ccc 1px, transparent 1px);
  background-size: 400px 400px;
    
}

.footer {
    font-size: 16px;
    padding-bottom: 41px;
    padding-top: 38px;
    background-color: #ffffff68;
    text-align: center;
}
.footer p{
    width: 958px;
    margin: auto;
}