figure {
    max-width: 500px;
    margin: 30px auto;
    text-align: center;
    
}

.image {
    width: 100%;
    display: block;
    border-radius: 8px;
    border-color: black;
    background-color: black;
    
   
}

caption {
    margin-top: 10px;
    font-size: 0.95rem;
    color: #555;
}
