body {
    margin: 0;
    Font-family: "finalsix", sans-serif;
    background-color: #c6f9ff;
    color: #111;
}

.portfolio {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px;
}

.portfolio-header {
    margin-bottom: 60px;
}

.portfolio-header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.portfolio-header p {
    color: #555;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.project1 {
    background: #a6c2ca;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


.project-image {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.3s, opacity 0.3s;
    cursor: pointer;
}

.project-image:hover {
    transform: scale(1.05);
    opacity: 0.9;
}



@media (max-width: 900px) {
    .projects {
        grid-template-columns: 1fr;
    }
}
