body {
  margin: 0;
  padding: 20px;
  font-family: "instrument-sans-variable", sans-serif;
}

h2{
    font-size: 80px;
}

.grid-layout {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2px;
  padding: 0;
  align-items:flex-start;                   
}

.image-box {
  grid-column: span 2;
  margin-left: 80px;
}

.image-box img {
  width: 100%;
  height: auto;
  max-width: 1000px;
  max-height: 600px;
  border-radius: 12px;
  object-fit: cover;
}


.title-box {
  
  display:grid;
  margin-right: 80px;
  margin-top: 0px;
  margin-left: 10px;
}

.title-box h1 {
  margin: 0 0 0px;
  font-size: 28px;
}

.title-box p {
  font-size: 16px;
  margin-top: 0;
  color: #444;
  text-align: start;
}

.smallimage {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px;
  padding: 0;
  margin: 0;
}

.smallimage > div {
  position: relative;   
}

.smallimage img {
  width: 100%;           
  height: 280px;         
  object-fit: cover;

  display: block;
}

.overlay-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;          
  height: 200px;
  background: #bbbbbbcc;    
  color: white;
  border: none;
  border-radius: 50%;   
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 600;
  transition: background 0.3s ease;
}

.overlay-btn:hover {
  background: rgba(180, 180, 180, 0.7);     
}

.back-btn {
  background: none;
  border: none;
  font-size: 14px;
  padding: 0;
  color: #333;   
  text-decoration: underline;     
}

body.legacy{
    font-family: "instrument-sans-variable", sans-serif;
     background-image: 
    linear-gradient(#ccc 1px, transparent 1px),
    linear-gradient(90deg, #ccc 1px, transparent 1px);
  background-size: 400px 400px;
    
}


.legacy-container {
  display: grid;
  grid-template-columns: 2fr 1fr;  
  gap: 10px;                      
  padding: 40px;                    
  max-width: 1600px;
  margin-top: 0;
  margin-left: 100px;
}

.text-column {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;        
  align-items: flex-start;      
  text-align: left;
}

.text-column h1 {
  margin-bottom: 20px;
  font-size: 50px;
}

.text-column p {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
  text-align: left;
  margin-right: 300px;
}

.text-column h2 {
  font-size: 30px;
}

.image-column {
  display: grid;
  grid-template-rows: repeat(3, 1fr);  
  gap: 30px;
  margin-right: 100px;
}

.image-column img {
  width: 80%;
  height: 30%;
  object-fit: cover;
}
