h1{
    font-size: 40px;
    text-align: center;
}

h2{
    font-size: 25px;
    text-align: right;
    font-style: italic;
}

body{
    text-align: center;
    background-image: url("bg.jpg");
    background-size: cover;
}

article{
    max-width: 700px;
    margin: 60px auto;
    padding: 40px;
    background: rgba(138, 21, 111, 0.45);
    color: white;
    border-radius: 12px;
}